*::before,
*::after,
* {
    box-sizing: border-box;
}

body,
input,
textarea,
button {
    font-family: 'Alegreya Sans SC', sans-serif;
}

a {
    color: #000;
}

body {
    padding: 0;
    margin: 0;
    color: black;
    background: #ece9e3;
    overflow-x: hidden;
}
body::-webkit-scrollbar {
    display: none;
}

.clear {
    clear: both;
    font-size: 0;
    line-height: 0;
}


                /* HEADER configuration */

/* HEADER */

.header {
    padding-bottom: 1rem;
}

.header_container {
    display: flex;
}

/* NAV_BAR */

.nav_bar {
    position: absolute;
    z-index: 1;
}

.nav_bar .list {
    margin: 0;
    padding:0;
    list-style: none;
    overflow: hidden;
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

.nav_bar li {
    width: 62.5rem;
    background-color: #7d7d7d;
}
.nav_bar li a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 20px;
}
.nav_bar li a:hover {
    background-color: #949494;
    color: #fff;
}


.nav_bar .menu_icon_label {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

.nav_bar .menu_icon_label .nav_icon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

.nav_bar .menu_icon_label .nav_icon:before,
.nav_bar .menu_icon_label .nav_icon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.nav_bar .menu_icon_label .nav_icon:before {
    top: 5px;
}

.nav_bar .menu_icon_label .nav_icon:after {
    top: -5px;
}

.nav_bar .burger_input {
    display: none;
}

.nav_bar .burger_input:checked ~ .list {
    max-height: 240px;
}

.nav_bar .burger_input:checked ~ .menu_icon_label .nav_icon {
    background: transparent;
}

.nav_bar .burger_input:checked ~ .menu_icon_label .nav_icon:before {
    transform: rotate(-45deg);
}

.nav_bar .burger_input:checked ~ .menu_icon_label .nav_icon:after {
    transform: rotate(45deg);
}

.nav_bar .burger_input:checked ~ .menu_icon_label:not(.steps) .nav_icon:before,
.nav_bar .burger_input:checked ~ .menu_icon_label:not(.steps) .nav_icon:after {
    top: 0;
}

/* NAME */

.name_title {
    flex: 1 0 100%;
    font-size: 2.5rem;
    letter-spacing: 8px;
    margin-top: 3rem;
    justify-content: center;
    text-align: center;
}
.name_title a {
    text-decoration: none;
    color: #000;
}

.letter1 {
    font-weight: 500;
}
.letter2 {
    font-weight: 500;
}
.letter3 {
    font-weight: 500;
}
.letter4 {
    font-weight: 400;
}
.letter5 {
    font-weight: 300;
}
.last_letters {
    font-weight: 200;
}

/* Underline animation */

.name_title a::after {
    content: "_";
    display: inline-block;
    animation: cursor-blink 1s steps(2) infinite;
    z-index: 0;
}
@keyframes cursor-blink {
    0% {
        opacity: 0;
    }
}

/*----------tablet HEADER 768px---------------*/

@media (min-width: 48em)  {

    .header {
        border-bottom: 1px solid rgba(0,0,0,.3);
        padding-bottom: 1.5rem;
    }
    .name_title {
        margin-top: 1.5rem;
    }
}

/*----------desktop HEADER---------------*/

@media (min-width: 64em) {

    .header {
        margin-top: 1.5rem;
        padding-bottom: 3.5rem;
        border-bottom: 1px solid black;
        border-image: linear-gradient(to left, black, #ff000000 80%) 1;
    }
    .header_container {
        justify-content: space-between;
        align-items: center;
    }

    /* NAV_BAR */

    .nav_bar .menu_icon_label {
        display: none;
    }

    .nav_bar:not(input, label) {
        position: absolute;
        margin-right: 1rem;
        right: 0;
    }

    .nav_bar .list {
        clear: none;
        max-height: none;
        display: flex;
        margin-top: .4rem;
    }

    .nav_bar li {
        width: 10rem;
        background-color: transparent;
        border-bottom: none;
    }
    .nav_bar li a {
        display: inline-block;
        background-color: transparent;
        padding: 0;
    }
    .nav_bar li a:hover {
        background-color: transparent;
        color: #929191;
        box-shadow: none;
        border-bottom: none;
    }

    li a::after {
    content: "";
    }

    /* NAME */

    .name_title {
        position: absolute;
        font-size: 2rem;
        margin-left: 3rem;
    }
}

/*------------------------------------------------*/

                 /* RESUME configuration */

    /* Main */

    .main_container {
        position:relative;
        margin: 10em 0 0 0;
        padding: 2em;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    /* Personal photo */

.photo_container {
    text-align: center;
    margin: -180px auto 0 auto;
    padding-bottom: 40px;
    display: block;
    width: 60%;
}

.personal_photo {
    border-radius: 10%;
    box-shadow: 10px 10px 10px rgba(0,0,0,.3);
    width: 60%;
    min-width: 310px;
}

    /* Resume */

.resume_container {
    padding: 10px;
    position: relative;
    width: 100%;
    border-bottom: 1px solid black;
    margin-top: -30px;
}

.information_resume {
    position: relative;
    text-align: center;
}
.information_resume .resume_text  {
    font-size: 1.4rem;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0,0,0,.3);
}
.information_resume .hello,
.information_resume .enjoy {
    display: block;
    padding: 10px 0;
}


.cv_container {
    position: relative;
    margin: 10px 0 5px 0;
    text-align: center;
}
.cv_container button a {
    text-decoration: none;
    padding-bottom: 10px;
    font-weight: 700;
}
.cv_container button {
    padding: 15px 20px;
    width: 40%;
    border: none;
    border-radius: 10px;
    background-color: rgba(83, 17, 17,.2);
    cursor: pointer;
    box-sizing: border-box;
    min-width: 150px;
    max-width: 150px;
}
.cv_container button:hover {
    background-color: rgba(83, 17, 17,.5);
    box-shadow: 10px 10px 30px rgba(0,0,0,.3)
}

/*----------tablet RESUME 768px---------------*/

@media (min-width: 48em)  {

    /* Personal photo */

    .photo_container {
        margin-top: -150px;
    }

    .personal_photo {
        border-radius: 5%;
        max-width: 300px;
    }

        /* Resume */

    .resume_container {
        padding: 5px 0 10px 0;
    }
}

/*----------desktop RESUME---------------*/

@media (min-width: 64em)  {
    .main_container {
        flex-wrap: nowrap;
        flex-direction: row;
        padding: 100px 20px;
    }

    .photo_container {
        margin: -130px 0 0 50px;
        padding: 0 60px 60px 0;
        display: inline-block;
    }

    .personal_photo {
        width: 100%;
        min-width: none;
        max-width: 500px;
    }

    .resume_container {
        border-bottom: none;
        padding: 0 50px;
        margin-top: -60px;
    }

    .cv_container {
        margin-top: 50px;
    }
}


/*------------------------------------------------*/


                 /* SECTIONS configuration */

    /* Main */

.sections_container {
    padding: 1em 2em 2em 2em;
}

    /* Skills */

.skills {
    margin: 0 auto;
}
.skills h2 {
    font-size: 2rem;
    margin: -20px 0 40px 0;
}

.icons_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    gap: 4em;
    text-align:center;
    justify-content: end;
    max-width: 100%;
}
.icons_skills img {
    width: 100%;
    max-width: 80px;
}

@media (min-width: 48em)  {
    .icons_container {
        grid-template-columns: repeat(3, 1fr);
    }

}
@media (min-width: 64em)  {
    .icons_container {
        grid-template-columns: repeat(4, 1fr);
    }
}

    /* Projects */

.projects {
    margin: 50px 0 10px 0;
    border-top: 1px solid black;
}
.projects h2 {
    font-size: 2rem;
    margin-bottom: -5px;
}

.projects_container {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    text-align: center;
}

.project_itens {
    position: relative;
    margin: 30px auto;
    width: 80%;
}

.projects img {
    max-width: 100%;
    height: auto;
    width: 100%;
    align-items: center;
    box-shadow: 10px 10px 30px rgba(0,0,0,.3);
    border-radius: 5px;
    border: 5px solid rgba(226, 173, 130, 0.6);
}
.projects img:hover {
    box-shadow: 10px 10px 30px rgba(183, 41, 41,.7);
}

.info_pictures {
    margin-top: .5em;
}

.info_pictures .projects_skills {
    position: absolute;
    font-size: 1.1rem;
}

.projects_skills .html,
.projects_skills .css,
.projects_skills .javascript {
    padding: 4px 10px;
    border-radius: 10px;
    box-shadow: 1px 5px 7px rgba(0,0,0,.1);
}


.projects_skills .html {
    background-color: rgba(224, 90, 41,.5);
}
.projects_skills .css {
    margin-left: .1em;
    background-color: rgba(22, 115, 255,.5);
}
.projects_skills .javascript {
    margin-left: .1em;
    background-color: rgba(252, 252, 56, 0.6);
}

.info_pictures .projects_icons {
    position: absolute;
    right: 0;
}
.projects_icons a {
    margin-left: 10px;
}
.projects_icons a:hover {
    cursor: pointer;
}

.projects svg {
    width: 25px;
    vertical-align: middle;
}




@media (min-width: 48em)  {

}
@media (min-width: 64em)  {
    .projects_container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

}

    /* Contact */

.contact {
    margin: 50px 0 10px 0;
    border-top: 1px solid black;
}

.contact h2 {
    font-size: 2rem;
    margin-bottom: -5px;
}


@media (min-width: 48em)  {

}
@media (min-width: 64em)  {

}
