*::before,
*::after,
* {
    box-sizing: border-box;
}

body,
input,
textarea,
button {
    font-family: 'Alegreya Sans SC', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    color: black;
    background-color: rgba(147, 197, 114,.4);
    overflow-x: hidden;
}

@media (max-width: 64em) {
    body::-webkit-scrollbar {
        display: none;
    }
}


a {
    color: black;
}

/* Scroll Animation */

.section_js {
    opacity: 0;
    transform: translateX(-10rem);
}
.active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 0.5s, transform 0.5s;
}



                         /* HEADER configuration */

    /* HEADER */

.header {
    padding-bottom: 16px;
}

.header_container {
    display: flex;
    flex-direction: column;
}

    /* NAV_BAR */

.nav_bar {
    position: absolute;
    z-index: 1;

}

.nav_bar .list {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

.nav_bar li {
    width: 200px;
    background-color: rgba(0,0,0,.9);
}

.nav_bar li a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 1.25rem;
    color: #e9d8a6;
}
.nav_bar li a:hover {
    background-color: rgba(228, 208, 10,.2);
}

    /* HAMBURGER MENU (smartphone and tablet) */

    .menu_icon {
        display: block;
        cursor: pointer;
        padding: 10px;
    }

    .bar {
        width: 30px;
        height: 4px;
        background-color: #000;
        margin: 6px 0;
    }

    .nav_bar .list {
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
        /* clear: both; */
        max-height: 0;
        transition: max-height 0.2s ease-out;
    }

    .nav_bar.open .list {
        max-height: 300px;
    }

    /* NAME */

.name_title {
    flex: 1 0 100%;
    font-size: 2.5rem;
    letter-spacing: 8px;
    margin: 15px 0 25px 0;
    justify-content: center;
    text-align: center;
}
.name_title a {
    text-decoration: none;
    color: #000;
}

.letter1 {
    font-weight: 500;
}
.letter2 {
    font-weight: 500;
}
.letter3 {
    font-weight: 500;
}
.letter4 {
    font-weight: 400;
}
.letter5 {
    font-weight: 300;
}
.last_letters {
    font-weight: 200;
}

    /* Underline animation */

.name_title a::after {
    content: "_";
    display: inline-block;
    animation: cursor-blink 1s steps(2) infinite;
    z-index: 0;
}
@keyframes cursor-blink {
    0% {
        opacity: 0;
    }
}

/*----------tablet HEADER 768px---------------*/

@media (min-width: 48em)  {

    .header {
        padding-bottom: 24px;
    }
    .name_title {
        margin: 40px 0 -15px 0;
    }
}

/*----------desktop HEADER 1024px---------------*/

@media (min-width: 64em) {


    .header_container {
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        position: relative;
    }

    .black_line_header {
        margin-top: 24px;
        padding-bottom: 56px;
        border-bottom: 1px solid black;
        border-image: linear-gradient(to left, black, #ff000000 80%) 1;
    }

    /* NAV_BAR */

    .nav_bar {
        background-color: transparent;
        position: absolute;
        right: 50px;
    }

    .nav_bar .list {
        clear: none;
        max-height: none;
        display: flex;
    }

    .nav_bar li {
        padding: 28px;
        background-color: transparent;
        border-bottom: none;
        text-align: center;
    }
    .nav_bar li a {
        display: inline-block;
        background-color: transparent;
        padding: 0;
        color: #000;
    }

    .nav_bar li:hover {
        background-color: rgba(228, 208, 10,.2);
        cursor: pointer;
    }
    .nav_bar li a:hover {
        background-color: transparent;
        box-shadow: none;
        border-bottom: none;
    }

    li a::after {
    content: "";
    }

    a {
        color: #000;
    }

    .menu_icon {
        display: none;
    }

    /* NAME */

    .name_title {
        position: absolute;
        font-size: 2rem;
        margin-left: 48px;
        top: -20px;
    }
}



/*---------------------------------------------------------------*/



                         /* RESUME configuration */

    /* Main */
    .main_container {
        position:relative;
        margin: 160px 0 0 0;
        padding: 32px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    /* Personal photo */


.photo_container {
    text-align: center;
    width: 100%;
    margin: -200px auto 0 auto;
    padding-bottom: 30px;
}

.personal_photo {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    background-color:#faedd0;
    padding: 5px;
    border: 3px solid #9a8464;
}


    /* Resume */

.resume_container {
    padding: 10px;
    position: relative;
    width: 100%;
    margin-top: -50px;
}

.information_resume {
    position: relative;
    text-align: center;
}

.information_resume h2 {
    font-size: 2rem;
    letter-spacing: 3px;
    margin-bottom: 5px;
}
.information_resume .resume_text  {
    font-size: 1.2rem;
    text-align: justify;
}

.cv_container {
    position: relative;
    margin: 10px 0 5px 0;
    text-align: center;
}
.cv_container button a {
    text-decoration: none;
    padding-bottom: 10px;
    font-weight: 700;
}
.cv_container button {
    padding: 15px 20px;
    width: 40%;
    border: none;
    border-radius: 10px;
    background-color: #7DC183;
    cursor: pointer;
    box-sizing: border-box;
    min-width: 250px;
    max-width: 150px;
    box-shadow: 10px 10px 30px rgba(0,0,0,.3);
    font-weight: 500;
}
.cv_container button:hover {
    background-color: rgb(228, 208, 10);
    box-shadow: none;
}
button:hover a {
    color: #fff;
}


/*----------mobile RESUME 545px---------------*/
@media (min-width: 34.06em) {

    .cv_container {
        margin: 40px 0 5px 0;
    }
}

/*----------tablet RESUME 768px---------------*/

@media (min-width: 34em) {
    .photo_container {
        margin-top: -200px;
    }
}

@media (min-width: 48em)  {


    /* Resume */

    .photo_container {
        margin-top: -170px;
    }

    .resume_container {
        padding: 5px 0 40px 0;
    }
    .cv_container {
        margin: 45px 0 25px 0;
    }
}

/*----------desktop RESUME 1024px---------------*/


@media (min-width: 64em)  {

    .main_container {
        flex-wrap: nowrap;
        flex-direction: row;
        padding: 100px 20px;
        justify-content: space-around;

    }

    /* Personal photo */

    .photo_container {
        margin: -150px 0 0 0;
        padding: 0 60px 0 0;
        display: inline-block;
    }

    .personal_photo {
        width: 400px;
        height: 400px;
    }

    /* Resume */

    .resume_container {
        border-bottom: none;
        padding: 0 50px;
        margin: -145px 0 0 0;
    }

    .information_resume h2 {
        font-size: 3rem;
        letter-spacing: 3px;
    }

    .cv_container {
        margin-top: 50px;
    }
}

@media (min-width: 67.75em) {

    .resume_container {

        margin: -130px 70px 0 0;
    }
}




/*---------------------------------------------------------------*/




                         /* SKILLS & PROJECTS configuration */


    /* Skills */

.skills {
    margin: 30px auto;
    padding-bottom: 40px;
    text-align: left;
}
.skills h2 {
    font-size: 2rem;
    text-align: center;
    font-weight: 500;
    margin: 10px 0 0 0;
}

.icons_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
    gap: 2em;
    text-align:center;
    justify-content: end;
}

.icons_skills img {
    max-width: 80px;
}

.black_line_skills {
    margin-bottom: 50px;
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(to left, transparent 30%, black 50%, transparent 70%) 1;
}

/*----------tablet SKILLS 768px---------------*/

@media (min-width: 48em)  {

    .skills h2 {
        margin: 0 0 20px 0;
    }

    .icons_container {
        grid-template-columns: repeat(3, 1fr);
    }

/*----------desktop SKILLS 1024px---------------*/

}
@media (min-width: 64em)  {

    .skills {
        margin: 60px 150px;
    }

    .icons_container {
        grid-template-columns: repeat(4, 1fr);
        gap: 1em;
    }

    .skills h2 {
        font-size: 2.5rem;
    }

    .icons_skills {
        padding: 40px;
    }

}

    /* Projects */

.projects {
    margin: 60px auto;
    padding-bottom: 40px;
}
.projects h2 {
    font-size: 2rem;
    text-align: center;
    font-weight: 500;
    margin: 10px 0 0 0;
}

.projects_container {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
}

.project_itens {
    position: relative;
    margin: 0 auto;
    width: 100%;

}

.item {
    position: relative;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0,0,0,.1);
    background-color: rgba(236,234,190);
    padding: 20px;
    text-align: center;
}

.projects img:not(.proj_icon_img) {
    max-width: 100%;
    height: auto;
    align-items: center;
    margin: 15px 0 20px 0;
    box-shadow: 10px 10px 10px rgba(0,0,0,.2);
    border-radius: 2px;
    border: 2px solid rgba(0,0,0,.4);
}

.projects_skills {
    padding: 20px;
    font-size: 1.1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}
.projects_skills span {
    border-radius: 10px;
    padding: 5px 10px;
    background-color:rgb(193, 225, 193);
}

.projects_icons {
    padding: 20px 10px 10px 10px;
}
.projects_icons span {
    padding: 0 15px;
}

.proj_icon_img {
    cursor: pointer;
}

.black_line_figcaption {
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(to left, transparent 30%, black 50%, transparent 70%) 1;
}

.black_line_projects {
    margin-bottom: 40px;
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(to left, transparent 30%, black 50%, transparent 70%) 1;
}


/*----------tablet PROJECTS 768px---------------*/

@media (min-width: 48em)  {
    .projects_container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .project_itens {
        min-width: 400px;
    }

    .projects_skills {
        grid-template-columns: repeat(3, 1fr);
    }

    .projects h2 {
        margin:0 0 10px 0;
    }

    .projects {
        text-align: center;
        margin-bottom: 100px;
    }
}

/*----------desktop PROJECTS 1024px---------------*/

@media (min-width: 64em)  {

    .projects_container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-bottom: 10px;
    }

    .projects h2 {
        font-size: 2.5rem;
    }

    .project_skills {
        font-size: 1rem;
    }

}

@media (min-width: 80em)  {

    .projects_container {
        grid-template-columns: repeat(3, 1fr);
    }

}




/*---------------------------------------------------------------*/




                         /* Contact - FOOTER  */

.footer_container {
    margin: -40px 0 10px 0;
}

.footer_container h2 {
    font-size: 2rem;
    font-weight: 500;
    text-align: left;
    margin: 10px 0 20px 40px;
}
.footer_container p {
    margin: -25px 0 30px 40px;
    padding: 0;
    font-size: 1.4rem;
}

.figures_contact_container {
    padding: 60px;
}

.figures_contact {
    display: flex;
    justify-content: center;
}

.figures_contact img:hover {
    cursor: pointer;
}

.icon_contact {
    padding: 0 15px;
}

.copyright {
    padding: 5px;
    text-align: center;
}


/*----------tablet FOOTER 768px---------------*/

@media (min-width: 48em)  {
    .black_line_contacts {
        margin-bottom: 100px;
        border-bottom: 1px solid transparent;
        border-image: linear-gradient(to left, transparent 30%, black 50%, transparent 70%) 1;
    }

    .footer_container h2 {
        margin-bottom: 0;
    }
    .footer_container p {
        margin-top: -95px;
    }

    .footer_container h2,
    .footer_container p {
        text-align: center;
        margin-left: 0;
    }

    .footer_container {
        bottom: -15px;
    }

    .figures_contact_container {
        padding: 40px 20px 80px 20px;
    }

    .icon_contact {
        padding: 0 35px;
    }

}

/*----------desktop FOOTER 1024px---------------*/

@media (min-width: 64em)  {

    .icon_contact {
        padding: 0 55px;
    }

    .footer_container h2 {
        font-size: 2.5rem;
    }
}
