*::before,
*::after,
* {
    box-sizing: border-box;
}

body,
input,
textarea,
button {
    font-family: 'Alegreya Sans SC', sans-serif;
}

a {
    color: #000;
}

body {
    padding: 0;
    margin: 0;
    color: black;
    background: #ece9e3;
    overflow-x: hidden;
}

.clear {
    clear: both;
    font-size: 0;
    line-height: 0;
}



                 /* HEADER configuration */

/* HEADER */

.header {
    padding-bottom: 1rem;
}

.header_container {
    display: flex;
}

/* NAV_BAR */

.nav_bar {
    position: absolute;
    z-index: 1;
}

.nav_bar .list {
    margin: 0;
    padding:0;
    list-style: none;
    overflow: hidden;
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

.nav_bar li {
    width: 62.5rem;
    background-color: #7d7d7d;
}
.nav_bar li a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 20px;
}
.nav_bar li a:hover {
    background-color: #949494;
    color: #fff;
}


.nav_bar .menu_icon_label {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

.nav_bar .menu_icon_label .nav_icon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

.nav_bar .menu_icon_label .nav_icon:before,
.nav_bar .menu_icon_label .nav_icon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.nav_bar .menu_icon_label .nav_icon:before {
    top: 5px;
}

.nav_bar .menu_icon_label .nav_icon:after {
    top: -5px;
}

.nav_bar .burger_input {
    display: none;
}

.nav_bar .burger_input:checked ~ .list {
    max-height: 240px;
}

.nav_bar .burger_input:checked ~ .menu_icon_label .nav_icon {
    background: transparent;
}

.nav_bar .burger_input:checked ~ .menu_icon_label .nav_icon:before {
    transform: rotate(-45deg);
}

.nav_bar .burger_input:checked ~ .menu_icon_label .nav_icon:after {
    transform: rotate(45deg);
}

.nav_bar .burger_input:checked ~ .menu_icon_label:not(.steps) .nav_icon:before,
.nav_bar .burger_input:checked ~ .menu_icon_label:not(.steps) .nav_icon:after {
    top: 0;
}

/* NAME */

.name_title {
    flex: 1 0 100%;
    font-size: 2.5rem;
    letter-spacing: 8px;
    margin-top: 3rem;
    justify-content: center;
    text-align: center;
}
.name_title a {
    text-decoration: none;
    color: #000;
}

.letter1 {
    font-weight: 500;
}
.letter2 {
    font-weight: 500;
}
.letter3 {
    font-weight: 500;
}
.letter4 {
    font-weight: 400;
}
.letter5 {
    font-weight: 300;
}
.last_letters {
    font-weight: 200;
}

/* Underline animation */

.name_title a::after, li a::after {
    content: "_";
    display: inline-block;
    animation: cursor-blink 1s steps(2) infinite;
    z-index: 0;
}
@keyframes cursor-blink {
    0% {
        opacity: 0;
    }
}

/*----------tablet HEADER---------------*/

@media (min-width: 37.5em)  {

    .header {
        border-bottom: 1px solid rgba(0,0,0,.3);
        padding-bottom: 1.5rem;
    }
    .name_title {
        margin-top: 1.5rem;
    }
}

/*----------desktop HEADER---------------*/

@media (min-width: 62.5em) {

    .header {
        margin-top: 1.5rem;
        padding-bottom: 3.5rem;
        border-bottom: 1px solid black;
        border-image: linear-gradient(to left, black, #ff000000 80%) 1;
    }
    .header_container {
        justify-content: space-between;
        align-items: center;
    }

    /* NAV_BAR */

    .nav_bar .menu_icon_label {
        display: none;
    }

    .nav_bar:not(input, label) {
        position: absolute;
        margin-right: 1rem;
        right: 0;
    }

    .nav_bar .list {
        clear: none;
        max-height: none;
        display: flex;
        margin-top: .4rem;
    }

    .nav_bar li {
        width: 10rem;
        background-color: transparent;
        border-bottom: none;
    }
    .nav_bar li a {
        display: inline-block;
        background-color: transparent;
        padding: 0;
    }
    .nav_bar li a:hover {
        background-color: transparent;
        color: #929191;
        box-shadow: none;
        border-bottom: none;
    }

    li a::after {
    content: "";
    }

    /* NAME */

    .name_title {
        position: absolute;
        font-size: 2rem;
        margin-left: 3rem;
    }
}

/*------------------------------------------------*/

                 /* RESUME configuration */

    /* Main */

    .main_container {
        position:relative;
        margin: 10em 0 30em 0;
        padding: 2em;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    /* Personal photo */

.photo_container {
    text-align: center;
    margin-top: -180px;
    border-bottom: 1px solid black;
    padding-bottom: 40px;
    display: inline-block;
    overflow: hidden;
}

.personal_photo {
    border-radius: 10%;
    box-shadow: 10px 10px 30px rgba(0,0,0,.3);
    width: 60%;
    max-width: 500px;
}

    /* Resume */

.resume_container {
    padding: 30px;
    position: relative;
    width: 100%;
    margin: 0 auto;
    border-bottom: 1px solid black;
}

.first_line, .third_line {
    font-size: 1rem;
}
.second_line, .fifth_line {
    font-size: 1.5rem;
}
.fourth_line {
    font-size: 1.8rem;
}

.resume_color1 {
    color: rgb(83, 17, 17);
}

.cv_container {
    width: 100%;
    position: relative;
}
.cv_container button a {
    text-decoration: none;
    padding-bottom: 10px;
    font-weight: 700;
}
.cv_container button {
    padding: 15px 20px;
    width: 40%;
    border: none;
    border-radius: 10px;
    background-color: rgba(83, 17, 17,.2);
    margin-left: 55%;
    cursor: pointer;
}
.cv_container button:hover {
    background-color: rgba(83, 17, 17,.5);
    box-shadow: 10px 10px 30px rgba(0,0,0,.3)
}

/*----------tablet RESUME---------------*/

@media (min-width: 37.5em)  {
    /* Main */

    .main_container {
        position:relative;
        margin: 10em 0 30em 0;
        padding: 2em;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
    }

    /* Personal photo */

    .photo_container {
        text-align: center;
        margin-top: -150px;
        border-bottom: 1px solid black;
        padding-bottom: 40px;
    }

    .personal_photo {
        border-radius: 5%;
        box-shadow: 10px 10px 30px rgba(0,0,0,.3);
        width: 60%;
        max-width: 300px;
    }

        /* Resume */

    .resume_container {
        padding: 5px 0 10px 0;
        position: relative;
        width: 100%;
        margin: 0 auto;
        border-bottom: 1px solid black;
    }
    .fourth_line {
        font-size: 2.7rem;
    }

    .cv_container {

        width: 70%;
        left: 25%;
    }
    .cv_container button {
        margin-left: 60%;
    }
}

/*----------desktop RESUME---------------*/

@media (min-width: 62.5em)  {
    .main_container {
        position:relative;
        margin: 10em 0 30em 0;
        padding: 2em;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        flex-direction: row;
    }

    .photo_container {
        text-align: center;
        margin-top: -150px;
        border-bottom: 1px solid black;
        padding-bottom: 40px;
    }

    .personal_photo {
        border-radius: 5%;
        box-shadow: 10px 10px 30px rgba(0,0,0,.3);
        width: 80%;
    }
}


/*------------------------------------------------*/


                 /* SECTIONS configuration */

.sections {
    position: absolute;
}

@media (min-width: 37.5em)  {

    .main_container {
        flex-wrap: nowrap;
    }
}
@media (min-width: 62.5em)  {


}

/* tablet and desktop
.header {
    margin-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid black;
    border-image: linear-gradient(to left, black, #ff000000 80%) 1;
}

.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.name_title, .menu_bar {
    color: rgb(36, 36, 36);
}

.name_title {
    flex: 1 0 100%;
    font-size: 2rem;
    letter-spacing: 8px;
    margin-left: 4rem;
}
.name_title a {
    text-decoration: none;
    color: #000;
}

.menu_bar {
    margin-right: 2rem;
}
.menu_bar a {
    color: white;
    text-decoration: none;
    transition: .5s ease-in-out;
}

li {
    display: inline-block;
    position: relative;
    margin: 0 2.5rem;
    font-size: 1.3rem;
    color: rgb(36, 36, 36);
}
li::after {
    display: block;
    content: '';
    border-bottom: 0.1em solid #000;
    transform: scaleX(0);
    transition: transform 500ms ease-in-out;
    padding-bottom: 0.3em;
}
li:hover::after {
    transform: scaleX(1);
}

.menu_bar {
    margin-right: 2rem;
}
.menu_bar a {
    color: white;
    text-decoration: none;
    transition: .5s ease-in-out;
}

li {
    display: inline-block;
    position: relative;
    margin: 0 2.5rem;
    font-size: 1.3rem;
    color: rgb(36, 36, 36);
}
li::after {
    display: block;
    content: '';
    border-bottom: 0.1em solid #000;
    transform: scaleX(0);
    transition: transform 500ms ease-in-out;
    padding-bottom: 0.3em;
}
li:hover::after {
    transform: scaleX(1);
}
*/
